.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    background-color: var(--color-light);
    cursor: pointer;
    color: var(--color-font);
    font-size: 14px;
    font-weight: 500;
}

.round {
    height: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.round:hover,
.round:focus,
.round:active {
    background-color: var(--color-burger-hover);
}

.rectangle {
    margin-inline-start: 55px;
    margin-inline-end: 20px;
    padding: 8px 12px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.arrow {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.rectangle:hover,
.arrow:hover {
    background-color: var(--color-medium-light);
}

.rectangle:focus,
.arrow:focus {
    background-color: var(--color-burger-hover);
}

.rectangle:active,
.arrow:active {
    background-color: var(--color-tertiary);
}

.oval {
    justify-content: start;
    width: 150px;
    height: 48px;
    padding: 8px 12px;
    border-radius: 50px;

    /* shadow */
    box-shadow: 0px 1px 3px 1px rgba(156, 156, 156, 0.5);

    /* arrow style */
    appearance: none;
    background-image: url(../svg/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
}

.oval>img {
    margin-inline-end: 10px;
}

.oval:hover {
    background-color: var(--color-medium-light);
    box-shadow: 0px 4px 4px 0px rgba(60, 64, 67, 0.3), 0px 8px 12px 6px rgba(60, 64, 67, 0.15);
    ;
}

.oval:focus,
.oval:active {
    background-color: var(--color-burger-hover);
}

.open-event-modal {
    margin: 14px 0 22px;
}