/* .eventBtn {
    color: blue;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
}

.eventBtn:hover {
    cursor: pointer;
} */

/* 
nav tabs button
time zone button
*/
/* .navBtn {
    color: var(--color-font-light);
    padding: 6px 12px;
}

.navBtn:hover,
.navBtn:focus {
    background-color: var(--color-hover);
}

.navBtn:active {
    background-color: var(--color-tertiary);
}

.navBtn--open {
    color: var(--color-accent-dark);
    background-color: var(--color-active);
} */

/* more options button */
/* .moreBtn {
    color: var(--color-font-light);
    padding: 6px 12px;
}

.moreBtn:hover,
.moreBtn:focus {
    background-color: var(--color-hover);
    color: var(--color-font);
}

.moreBtn:active {
    background-color: var(--color-tertiary);
} */

/* save button */
/* .saveBtn {
    background-color: var(--color-accent-dark);
    color: var(--color-light);
    align-self: flex-start;
    padding: 12px 24px;
    margin-inline-start: 10px;
}

.saveBtn:hover,
.saveBtn:focus {
    background-color: var(--color-medium);
    color: var(--color-font);
}

.saveBtn:active {
    background-color: var(--color-accent-active-dark);
} */

/* delete button */
.event-delete-btn {
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--color-active);
    color: var(--color-accent-dark);
    align-self: flex-start;
    padding: 2px 5px;
    margin-inline-start: 10px;
}

.event-delete-btn:hover,
.event-delete-btn:focus {
    background-color: var(--color-medium);
    color: var(--color-font);
    cursor: pointer;
}

.event-delete-btn:active {
    background-color: var(--color-accent-active-dark);
}